{% extends "base.html.twig" %}

{% block content %}
<form method="POST">
	<div class="row flex-column">
		<h3 class="text-white">Edit Note</h3>
		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<input type="text" class="form-control" id="title" name="title" value="{{ data.title }}" placeholder="Enter Title" required>
			<input type="hidden" name="id" value="{{ data.id }}">
		</div>
		<div class="mb-3">
			<label for="notes" class="form-label">Notes</label>
			<textarea class="form-control" id="notes" name="body" rows="3" required>{{ data.body }}</textarea>
		</div>					
	</div>

	<div class="d-flex justify-content-between">
		<button type="submit" formaction="/update" class="btn btn-primary">Update</button>
		<button type="submit" formaction="/delete" class="btn btn-primary">Delete</button>		
		<form>
			<input type="button" class="btn btn-primary" value="Back" onclick="history.back()">
		</form>
	</div>
</form>
{% endblock %}